<!-- <!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Hello Django on Render!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <main class="container">
        <div class="row text-center justify-content-center">
            <div class="col">
                <h1 class="display-4">Hello World!!!</h1>
            </div>
        </div>
    </main>
</body>

</html> -->



<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="{% static 'render/css/styles.css' %}">
    <title>my site</title>
</head>

<body>

    <logo>
        <img src="{% static '/render/img/logo36x38.png' %}" alt="Logo">
        <!-- "~/my_web_projects/render/static/render/logo36x38.png" , width="36px" height="38px" alt="logo"> -->
    </logo>
    <h1>
        Оставайся на связи с друзьями, даже когда их нет рядом
    </h1>

    <kn1>
        Зарегистрироваться
    </kn1>

    <kn2>
        Войти
    </kn2>

    <im1>
        <img src="{% static '/render/img/imag1.png' %}" alt="Frends">
    </im1>

    <bl2>

        <bl21>
            <t1>201</t1>
            <t2><br />Пользователей<br />
                зарегистрировано</t2>
        </bl21>

        <bl22>
            <t1>556</t1>
            <t2><br />Сообщений<br />
                написано</t2>
        </bl22>

        <bl23>
            <t1>58</t1>
            <t2><br />Написано<br />
                сегодня</t2>
        </bl23>

    </bl2>

    <!-- block_3 -->

    <bl31>
        <t3>Последние сообщения</t3>
    </bl31>

    <!-- block_4 VINSENT -->

    <bl41>
        <bl42>
            <k1>
                <img src="{% static '/render/img/vinsent.png' %}" width='52' height="52" alt="Vinsent">
            </k1>

            <verh1>
                <bl111>
                    <tex1>Винсет Вега</tex1>
                    <tex2>@roizmangbn</tex2>
                </bl111>

                <tex3>28 минут<br>назад</tex3>
            </verh1>
        </bl42>

        <bl43>
            <texto>
                У них там все немного не так. В смысле, у них там все точно так же, как и здесь, только немного
                по-другому.
            </texto>
        </bl43>

        <bl44>
            <bl45>
                <ks1>
                    <img src="{% static '/render/img/ks1.png' %}" alt="ks1">
                </ks1>
                <tt2>
                    21
                </tt2>
            </bl45>

            <bl46>
                <bl45>
                    <ks1>
                        <img src="{% static '/render/img/ks2.png' %}" alt="ks2">
                    </ks1>
                    <tt2>
                        23
                    </tt2>
            </bl46>

            <bl47>
                <bl45>
                    <ks1>
                        <img src="{% static '/render/img/ks3.png' %}" alt="ks3">
                    </ks1>
                    <tt2>
                        9
                    </tt2>
            </bl47>
        </bl44>
    </bl41>

    <!-- block_5 ELON_MASK -->

    <div class="grey-line"></div>

    <bl41>
        <bl42>
            <k1>
                <img src="{% static '/render/img/ilon.png' %}" width='52' height="52" alt="Ilon">
            </k1>

            <verh1>
                <bl111>
                    <tex1>Elon Musk</tex1>
                    <tex2>@elonmusk</tex2>
                </bl111>

                <tex3>12 часов<br> назад</tex3>
            </verh1>
        </bl42>

        <bl43>
            <texto>
                Has anyone seen web3? I can’t find it.
            </texto>
        </bl43>

        <bl44>
            <bl45>
                <ks1>
                    <img src="{% static '/render/img/ks1.png' %}" alt="ks1">
                </ks1>
                <tt2>
                    21
                </tt2>
            </bl45>

            <bl46>
                <bl45>
                    <ks1>
                        <img src="{% static '/render/img/ks2.png' %}" alt="ks2">
                    </ks1>
                    <tt2>
                        23
                    </tt2>
            </bl46>

            <bl47>
                <bl45>
                    <ks1>
                        <img src="{% static '/render/img/ks3.png' %}" alt="ks3">
                    </ks1>
                    <tt2>
                        9
                    </tt2>
            </bl47>
        </bl44>
    </bl41>

    <!-- block_6 S_BUR -->

    <div class="grey-line"></div>

    <bl41>
        <bl42>
            <k1>
                <img src="{% static '/render/img/sbur.png' %}" width='52' height="52" alt="S_Bur">
            </k1>

            <verh1>
                <bl111>
                    <tex1>Александр</tex1>
                    <tex2>@sportsru</tex2>
                </bl111>

                <tex3>2 часа<br>назад</tex3>
            </verh1>
        </bl42>

        <bl43>
            <texto>
                Прикладываю фотки с последнего матча. С каждым днем играю все лучше. Еще пару лет и можно на Олимпиаду
                ехать!
            </texto>
        </bl43>

        <bl55>
            <!-- **********************************image********************************* -->
            <img src="{% static '/render/img/imat.png' %}" alt="Tennis">
        </bl55>

        <bl44>
            <bl45>
                <ks1>
                    <img src="{% static '/render/img/ks1.png' %}" alt="ks1">
                </ks1>
                <tt2>
                    21
                </tt2>
            </bl45>

            <bl46>
                <bl45>
                    <ks1>
                        <img src="{% static '/render/img/ks2.png' %}" alt="ks2">
                    </ks1>
                    <tt2>
                        23
                    </tt2>
            </bl46>

            <bl47>
                <bl45>
                    <ks1>
                        <img src="{% static '/render/img/ks3.png' %}" alt="ks3">
                    </ks1>
                    <tt2>
                        9
                    </tt2>
            </bl47>
        </bl44>
    </bl41>

    <!-- block_6 MIA -->

    <div class="grey-line"></div>

    <bl41>
        <bl42>
            <k1>
                <img src="{% static '/render/img/mia.png' %}" width='52' height="52" alt="Mia">
            </k1>

            <verh1>
                <bl111>
                    <tex1>Мия Уоллес</tex1>
                    <tex2>@mia</tex2>
                </bl111>

                <tex3>1 день<br> назад</tex3>
            </verh1>
        </bl42>

        <bl43>
            <texto>
                Идут по улице три помидора: папа-помидор, мама-помидор и ребенок-помидор. Ребенок-помидор начинает
                отставать. Папа-помидор разозлился, подбегает к ребенку-помидору, раздавливает всмятку... и говорит:
                «Догоняй, кетчуп!»
            </texto>
        </bl43>

        <bl44>
            <bl45>
                <ks1>
                    <img src="{% static '/render/img/ks1.png' %}" alt="ks1">
                </ks1>
                <tt2>
                    21
                </tt2>
            </bl45>

            <bl46>
                <bl45>
                    <ks1>
                        <img src="{% static '/render/img/ks2.png' %}" alt="ks2">
                    </ks1>
                    <tt2>
                        23
                    </tt2>
            </bl46>

            <bl47>
                <bl45>
                    <ks1>
                        <img src="{% static '/render/img/ks3.png' %}" alt="ks3">
                    </ks1>
                    <tt2>
                        9
                    </tt2>
            </bl47>
        </bl44>
    </bl41>



</body>

</html>